@import url("https://fonts.googleapis.com/css?family=VT323");

body {
    font-family: 'VT323','Ubuntu', 'monospace';
    /* background-color: #003B00; */
    padding: 1em 2em;
}

h1 {
    color: rgb(3, 0, 0);
}

#cursor {
    border-left: .1em solid rgb(0, 0, 0);
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
