/* Outer wrapper for data and toggle */
#outerWrapper{
  display: flex;
  flex-direction: column;
  /* Text align works on any element type */
  text-align: center;
  width: 15.5vw;
  height: 30vh;
  position: fixed;
  top: 20vh;
  left: -5vw;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 1;
  /* debugging color frame */
  border: 3px solid red;
}

/* Inner wrapper div */
#wordData{
  transition: transform 0.9s cubic-bezier(0, 0.52, 0, 1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  vertical-align: center;
  overflow: auto;
  border-radius: 3px;
  position: absolute;
  left: 0vw;
  top: 14vh;
  border: 4px solid black;
  box-shadow: 0 4px 4px rgb(0, 0, 0);
}

#wordData p{
  z-index: 1;
}

#wordData.hide {
  transform: translate3d(-10vw, 0, 0);
}

#wordData.show {
  transform: translate3d(5.2vw, 0, 0);
  /* Hide extra stuff if sticking out of container */
  overflow: hidden;
}