/* Fancy animations below */

/* * {
  margin: 0px;
  padding: 0px;
} */

body {
  font-family: "Exo", sans-serif;
  /* z-index: -1; */
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
  z-index: -1;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  z-index: -1;
}

.area {
  background: #ffc107;
  background: -webkit-linear-gradient(to left, #ffc107, #ffc107);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -1;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  z-index: -1;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  z-index: -1;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  z-index: -1;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  z-index: -1;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  z-index: -1;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  z-index: -1;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  z-index: -1;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  z-index: -1;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  z-index: -1;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  z-index: -1;
}
.circles li:nth-child(11) {
  left: 65%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
  z-index: -1;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 20%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

/* Main parts begin here, above are animations */

body {
  align-items: center;
  background: mintcream;
  margin: 0;
  font-family: "Exo", "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body > #root > div {
  height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom image settings */
#mainLogo,
#bioImage {
  /* puts item on top of css backgrounds */
  z-index: 1;
  padding: 1px;
  transition: transform 0.4;
  /* Animation */
  margin: 0 auto;
}

#mainLogo:hover {
  transform: scale(1.2);
  cursor: pointer;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#bioImage:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#bioImage {
  margin-right: 6px;
  border-radius: 3px;
  /* max-width: 100%; */
  width: 25.5vw;
  /* max-height: 66.5vh; make height auto so horizontal page shrinks will alter height factor*/
  height: auto;   
}

/* #Background{
  background: url({process.env.PUBLIC_URL + "/Assets/Images/android-chrome-512x512.png"});
} */

/* Custom overrides */
hr {
  height: 4px !important;
  border-top-color: #ffc107 !important;
  border-top-width: 2px !important;
  border-radius: 4px !important;
}

nav * a {
  color: black;
  /* padding-right: 10px; */
}

.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

nav * a:hover {
  color: black;
  font-weight: bold;
}
/* p {
	color: #000;
}

p:hover {
		color: #ed1212;
		cursor: pointer;
  } */
