/* Outer wrapper for data and toggle */
#outerWrapper {
  display: flex;
  flex-direction: column;
  /* Text align works on any element type */
  text-align: center;
  width: 15.5vw;
  height: 32vh;
  position: fixed;
  top: 18vh;
  left: -5vw;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 5;
  /* debugging color frame */
  /* border: 3px solid red; */
}

#outerWrapper #toggle {
  position: absolute;
  top: 0vh;
}

/* Inner wrapper div */
#wordData {
  transition: transform 1s cubic-bezier(0, 0.52, 0, 1);
  z-index: 5;
  width: 9vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  vertical-align: center;
  overflow: wrap;
  word-wrap: normal;
  border-radius: 3px;
  position: absolute;
  left: 0vw;
  top: 9vh;
  border: 4px solid black;
  box-shadow: 0 4px 4px rgb(0, 0, 0);
}

#wordData p {
  /* line-height: 1.5vh; */
  padding-top: 0.75vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  z-index: 5;
  text-align: center;
  justify-content: center;
  font-family: "Exo", "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  transition: transform 0.05s;
}

#wordData h5 {
  font-weight: bold;
}

#wordData p:hover,
#wordData h5:hover,
#wordData h6:hover {
  transform: scale(1.07);
}

#wordData.hide {
  transform: translate3d(-10vw, 0, 0);
}

#wordData.show {
  transform: translate3d(5.2vw, 0, 0);
  /* Hide extra stuff if sticking out of container */
  overflow: hidden;
}
