#toggle{
  position: absolute;
  z-index: 5;
  margin: 10px;
  border: 4px solid black !important;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  width: 47px;
  height: 47px;
  /* left: 3vw; */
  top: 5vh;
  left: 4.8vw;
  transition: transform 0.15s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px rgb(0, 0, 0);
}
#toggle:hover{
  transform: scale(1.1);
  background-color: #ffbf00;
  box-shadow: 0 3.7px 4px rgb(0, 0, 0);
}

#toggle:active {
  background-color: rgb(230, 176, 0);
  box-shadow: 0 5px 2px rgb(0, 0, 0);
  transform: translateY(4px);
}

/* #toggle.show {
  transform: translate3d(5vw, 0vh, 0);
  z-index: 3;
}

#toggle.hide {
  z-index: 3;
  transform: translate3d(15vw, 0, 0);
} */
