/* Outer div frame housing toggle and data container */
#weatherWidget {
  display: flex;
  flex-direction: column;
  /* Text align works on any element type */
  text-align: center;
  width: 15.5vw;
  height: 35vh;
  position: fixed;
  top: 45vh;
  left: -5vw;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 1;
  /* debugging color frame */
  border: 3px solid green;
}


/* Inner wrapper div*/
#weatherData {
  /* transition: transform 0.1s; */
  transition: transform 0.9s cubic-bezier(0, 0.52, 0, 1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  vertical-align: center;
  overflow: auto;
  border-radius: 3px;
  position: absolute;
  left: 0vw;
  top: 14vh;
  border: 4px solid black;
  box-shadow: 0 4px 4px rgb(0, 0, 0);
}

#weatherData.hide {
  transform: translate3d(-10vw, 0, 0);
}

#weatherData.show {
  transform: translate3d(5.2vw, 0, 0);
  /* Hide extra stuff if sticking out of container */
  overflow: hidden;
}

/* #weatherData:hover {
  transform: scale(1.05);
} */

#weatherData p {
  line-height: 1.5vh;
  padding-top: 0.5vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  z-index: 1;
  text-align: center;
  justify-content: center;
  font-family: "Exo", "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  transition: transform 0.05s;
}

#weatherData p:hover,
#weatherData img:hover {
  transform: scale(1.07);
}
#weatherData img {
  align-self: center;
  transition: transform 0.15s;
  width: 50px;
  height: 50px;
  z-index: 1;
}
